/*Predefinições*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: #2e2d27;
    font-family: 'Poppins',sans-serif;
}

ul {
    list-style: none;
    font-style: italic;
    font-weight: 700;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
    /* border-bottom: 1px solid white; */
    /* box-shadow: 1px 1px 10px 1px white; */
    border-bottom: 15px ridge white;
}

header img{
    transform: rotate(90deg);
    max-width: 100px;
}

header ul{
    display: flex;
    align-content: center;
}

header ul li{
    padding: 10px;
    border-left: 1px dashed black;
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color:rgb(9, 128, 128);
    text-decoration: underline;
}


body {
    /* background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed; */
    background: url(./background.jpg) no-repeat center center fixed;

    background-size: cover;

    /* Para Gradientes
    background: linear-gradient(90deg,#EB5757,#000000) ; */
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 30px;
}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5,start) infinite;
}

@keyframes blink{
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    min-width: 140px;
    margin: 0 auto;
    margin-top: 30px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    min-width: 70px;
    padding: 5px 10px;
    background: linear-gradient(to right, rgb(121, 34, 34) 50%, rgb(80, 112, 255) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;

}

.form button:hover{
    background-position: left bottom;
    color: rgb(36, 33, 33);
}

@media only screen and (max-width: 480px){
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 20px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }
}